<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tian.ssm.mapper.AdminInfoMapper">

  <resultMap id="BaseResultMap" type="com.tian.ssm.bean.AdminInfo">
    <result column="admin_id" jdbcType="INTEGER" property="adminId" />
    <result column="admin_code" jdbcType="VARCHAR" property="adminCode" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="enrolldate" jdbcType="TIMESTAMP" property="enrolldate" />

    <association property="adminRole" javaType="AdminRole">
      <result column="admin_id" jdbcType="INTEGER" property="adminId" />
      <result column="role_id" jdbcType="INTEGER" property="roleId" />
    </association>

    <association property="roleInfo" javaType="RoleInfo">
      <result column="role_id" jdbcType="INTEGER" property="roleId" />
      <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    </association>

    <association property="moduleInfo" javaType="ModuleInfo">
      <result column="module_id" jdbcType="INTEGER" property="moduleId" />
      <result column="module_Name" jdbcType="VARCHAR" property="moduleName" />
    </association>


  </resultMap>


  <!--登录-->
  <select id="loginAdmin"  resultMap="BaseResultMap">
    SELECT *FROM admin_info WHERE name=#{name}
  </select>

  <!--显示-->
  <select id="findAllRole"  resultMap="BaseResultMap">

    SELECT * FROM admin_info ad,role_info ro,admin_role ar,module_info m,role_module rm
        WHERE ar.admin_id = ad.admin_id
              AND ar.role_id = ro.role_id
              AND rm.role_id=ro.role_id
              AND rm.module_id=m.module_id
  </select>

  <!--修改-->
  <update id="update">

  </update>

  <!--删除-->
  <delete id="delete">
    DELETE FROM admin_info WHERE admin_id=#{adminId}
  </delete>

</mapper>